In [1]:
%pip install pandas xlwings openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\davet\appdata\roaming\python\python311\site-packages (2.0.2)
Requirement already satisfied: xlwings in c:\users\davet\appdata\roaming\python\python311\site-packages (0.30.12)
Requirement already satisfied: openpyxl in c:\users\davet\appdata\roaming\python\python311\site-packages (3.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\davet\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\davet\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\davet\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\davet\appdata\roaming\python\python311\site-packages (from pandas) (1.24.3)
Requirement already satisfied: pywin32>=224 in c:\users\davet\appdata\roaming\python\python311\site-packages (from xlwings) (306)
Requirement already satisfied: et-xmlfile in c:\users\davet\appdata\roaming\python\python311\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\davet\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

excel_file = pd.ExcelFile("data.xlsx")

dfs = []
for sheet in excel_file.sheet_names:
    df = pd.read_excel(excel_file,sheet_name=sheet,header=1)
    df["연도"] = sheet
    dfs.append(df)

len(dfs)

3

In [5]:
combined_df = pd.concat(dfs)
combined_df

   판매월    제품명  판매량     판매가격    연도
0    3   스마트폰   50   500000  2023
1    6    노트북   30   900000  2023
2    9    태블릿   30   600000  2023
3   12  스마트워치   40   250000  2023
0    3   스마트폰   20   500000  2022
1    6    노트북   40  1000000  2022
2    9    태블릿   30   600000  2022
3   12  스마트워치   40   250000  2022
0    3   스마트폰   30   500000  2021
1    6    노트북   20  1000000  2021
2    9    태블릿   25   600000  2021
3   12  스마트워치   40   300000  2021

In [6]:
combined_df.to_excel("result.xlsx")

In [11]:
import xlwings as xw
import pandas as pd

app = xw.App(visible=True)

workbook = xw.Book("data.xlsx")

dfs = []
for sheet in workbook.sheets:
    df = sheet.range("A2").options(pd.DataFrame,expand="table",index=False).value

    df["해당연도"] = sheet.name

    dfs.append(df)

combined_df_2 = pd.concat(dfs)

In [12]:
combined_df_2

    판매월    제품명   판매량       판매가격  해당연도
0   3.0   스마트폰  50.0   500000.0  2023
1   6.0    노트북  30.0   900000.0  2023
2   9.0    태블릿  30.0   600000.0  2023
3  12.0  스마트워치  40.0   250000.0  2023
0   3.0   스마트폰  20.0   500000.0  2022
1   6.0    노트북  40.0  1000000.0  2022
2   9.0    태블릿  30.0   600000.0  2022
3  12.0  스마트워치  40.0   250000.0  2022
0   3.0   스마트폰  30.0   500000.0  2021
1   6.0    노트북  20.0  1000000.0  2021
2   9.0    태블릿  25.0   600000.0  2021
3  12.0  스마트워치  40.0   300000.0  2021