In [9]:
## 방법 1 : xlwings
%pip install pandas xlwings openpyxl

Requirement already satisfied: pandas in c:\users\davet\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.1.3)
Requirement already satisfied: xlwings in c:\users\davet\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.30.12)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ---- -------------------------------- 30.7/250.0 kB 660.6 kB/s eta 0:00:01
     ---------------- ------------------- 112.6/250.0 kB 939.4 kB/s eta 0:00:01
     ---------------------------------- --- 225.3/250.0 kB 1.4 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.4 MB/s eta 0:00:00
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\davet\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\davet\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\davet\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\davet\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: pywin32>=224 in c:\users\davet\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from xlwings) (306)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: six>=1.5 in c:\users\davet\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\davet\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [10]:
import pandas as pd
import xlwings as xw

## 1단계: 판다스만을 사용하여 Excel 파일 처리

# Excel 파일 열기
excel_file = pd.ExcelFile('data.xlsx')

# DataFrame을 저장할 빈 리스트 초기화
dfs = []

# Excel 파일의 각 시트를 순회
for sheet_name in excel_file.sheet_names:
    # 시트를 DataFrame으로 읽어오기, 헤더가 첫 번째 행에 있다고 가정
    # 헤더가 첫 번째 행이 아닌 경우 이 부분을 조정할 필요가 있음
    df = pd.read_excel(excel_file, header=1, sheet_name=sheet_name)

    # 인덱스를 리셋하고 새로운 열로 시트 이름 추가
    df.reset_index(drop=True, inplace=True)
    df['target_year'] = sheet_name

    # 리스트에 DataFrame 추가
    dfs.append(df)

# 모든 DataFrame을 하나의 DataFrame으로 결합
combined_df2 = pd.concat(dfs, ignore_index=True)

combined_df2

    판매월    제품명  판매량     판매가격 target_year
0     3   스마트폰   50   500000        2023
1     6    노트북   30   900000        2023
2     9    태블릿   30   600000        2023
3    12  스마트워치   40   250000        2023
4     3   스마트폰   20   500000        2022
5     6    노트북   40  1000000        2022
6     9    태블릿   30   600000        2022
7    12  스마트워치   40   250000        2022
8     3   스마트폰   30   500000        2021
9     6    노트북   20  1000000        2021
10    9    태블릿   25   600000        2021
11   12  스마트워치   40   300000        2021

In [ ]:

## 2단계: xlwings를 사용하여 Excel 파일 처리

# 워크북 열기
workbook = xw.Book('data.xlsx')

# 기존 코드
dfs = []
for sheet in workbook.sheets:
    # 시트에서 DataFrame으로 데이터 읽기, 'A2' 셀부터 'table' 범위까지
    df = sheet.range('A2').options(pd.DataFrame, expand='table', index=False).value
    # 인덱스 리셋하고 시트 이름을 새로운 열로 추가
    df.reset_index(drop=True, inplace=True)
    df['target_year'] = sheet.name
    # 리스트에 DataFrame 추가
    dfs.append(df)

# 모든 DataFrame을 하나의 DataFrame으로 결합
combined_df = pd.concat(dfs, ignore_index=True)